.flash_left{
    list-style: none;
    border-top: none;
    padding: 3px 1px;
    background-color: white;
    li{
        overflow: hidden;
        line-height: 32px;
        height: 32px;
        padding-left: 25px;
        padding-right: 19px;
        padding-top: 1px;
        padding-bottom: 1px;
        position: relative;
        font-size: 14px;
        font-weight: 400;
        width: 145px;
        color: #666;
        box-sizing: content-box;
    }
    i{
        position: absolute;
        right: 10px;
        font-size: 12px;
    }
}

.flash_center_left{
    padding-left: 17px;
    padding-top: 10px;
    span{
        background-repeat: no-repeat;
        width: 80px;
        height: 22px;
        line-height: 22px;
        display: inline-block;
    }
    em{
        line-height: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: top;
        color: #999;
        font-style: normal;
    }
}

.flash_right{
    :first-child{
        height:91px;
        img{
            height:50px;
            width:50px;
            margin:0px auto;
        }
        p{
            font-weight: 400;
            text-align: center;
        }
    }
}